body {
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff6b6b, #4ecdc4, #1b1b1b, #ff6b6b);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.about-content p {
    color: #ddd;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}


/* 链接样式 */
.sidebar a {
    display: block;
    color: #fff; /* 将链接文本的字体颜色更改为白色 */
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.3s ease; /* 添加过渡效果 */
}

/* 链接悬停样式 */
.sidebar a:hover {
    color: #ff6b6b; /* 链接悬停时的字体颜色，可以根据喜好更改为其他颜色 */
}

.card{
    max-width: 600px;
    height: 400px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}